@import url(fonts.css);

:root {

    --main-font: 'Pretendard';
    --main-font-weight: 400;

    --main-color-01: #608DFF;
    --main-color-02: #4BA2FF;
    --main-color-03: #47BEFF;

    --black-color-01: #424242;
    --black-color-02: #575757;
    --gray-color-01: #747474;
    --gray-color-02: #9E9E9E;
    --gray-color-03: #C4C4C4;


    --header-height: 8.43vh;


    --page-height: calc(100vh - var(--header-height));
    

    --header-logo-width: 4.5vh;
    --header-font-size: 2vh;


    --basic-padding: 12.5vw;
    --mobile-padding: 10vw
}

.background{
/* Rectangle 1301 */

position: absolute;
width: 1920px;
height: 2942px;
left: 0px;
top: 142px;

background: linear-gradient(180deg, rgba(96, 141, 255, 0) -0.34%, rgba(96, 141, 255, 0.5) 99.66%);

}

body {
    min-height: 100vh;
    padding-top: var(--header-height);
}

a { 
    color: #fff;
    font-weight: 500;
    text-decoration-line: none; 
}
li { list-style: none; }

/* header */
header {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--basic-padding);
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(117, 117, 117, 0.08);
    z-index: 55;
}

header .header-logo { width: var(--header-logo-width); }

header .header-menu {
    color: var(--black-color-01);
    font-size: var(--header-font-size);
    font-weight: 600;
    margin-left: 5vw;
}
header ul>li>a:hover {
    color: var(--main-color-01);
    font-weight: 700;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 4vh;
}
.toggle {
    display: block;
    width: 4vh;
}

/* 메뉴 페이지 */
.menu-page {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;    height: 100%;
    background-color: white;
    transition: right 0.4s ease;
    z-index: 60;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3vh;
}
.menu-page.active {
    right: 0;
}

.menu-header { margin: 10vh 0; }
.menu-header img { width: 19vh; }

.menu-item {
    display: block;
    color: var(--black-color-01);
    font-size: 3vh;
    font-weight: 500;
    padding: 2vh;
}

.menu-footer {
    display: flex;
    justify-content: center;
    margin: 3vh;
}
.support-link {
    border: 2px solid #fff;
    border-radius: 50px;
    box-shadow: 1px 3px rgba(117, 117, 117, 0.08);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vh 4vh;
}
.support-link img {
    width: 4vh;
    margin-right: 3vw;
}
.support-link p {
    color: var(--main-color-01);
    font-size: 2.2vh;
    font-weight: 500;
}

.msg_page{
    /* MSG 17기 지원페이지 */

position: absolute;
width: 405px;
height: 46px;
left: 283px;
top: 192px;

font-family: 'GmarketSans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 46px;
/* 상자 높이와 동일 */

color: #608DFF;


}

.a2{
/* 각 문항에 맞게 성실하게 내용을 작성해주세요! */

position: absolute;
width: 359px;
height: 24px;
left: 283px;
top: 245px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* 상자 높이와 동일 */

color: #747474;

}

.a3{
/* 거짓된 정보는 작성하지 말아주기로 약속해요 :) */

position: absolute;
width: 366px;
height: 24px;
left: 283px;
top: 273px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* 상자 높이와 동일 */

color: #747474;


}

.a4{
    /* ‘ * ‘ 표시 된 문항은 필수 문항 입니다. */

position: absolute;
width: 173px;
height: 14px;
left: 283px;
top: 307px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #747474;


}

.a_num{
/* * 학번 */

position: absolute;
width: 1196px;
height: 24px;
left: 363px;
top: 384px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* 상자 높이와 동일 */

color: #283043;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.a_name{
    position: absolute;
width: 1196px;
height: 24px;
left: 363px;
top: 533px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* 상자 높이와 동일 */

color: #283043;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.a_phone{
    position: absolute;
width: 1196px;
height: 24px;
left: 363px;
top: 682px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* 상자 높이와 동일 */

color: #283043;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.a_phone2{
    position: absolute;
width: 1196px;
height: 24px;
left: 457px;
top: 686px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 24px;
/* 상자 높이와 동일 */

color: #9e9e9e;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.a_email{
    position: absolute;
width: 1196px;
height: 24px;
left: 363px;
top: 831px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* 상자 높이와 동일 */

color: #283043;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.a_room{
    position: absolute;
width: 1196px;
height: 24px;
left: 363px;
top: 980px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* 상자 높이와 동일 */

color: #283043;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.a_room2{
    position: absolute;
width: 1196px;
height: 24px;
left: 423px;
top: 984px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 24px;
/* 상자 높이와 동일 */

color: #9e9e9e;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.a_motive{
    position: absolute;
width: 1196px;
height: 24px;
left: 363px;
top: 1129px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* 상자 높이와 동일 */

color: #283043;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.a_win{
    position: absolute;
width: 1196px;
height: 24px;
left: 363px;
top: 1563px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* 상자 높이와 동일 */

color: #283043;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.a_fail{
    position: absolute;
width: 1196px;
height: 24px;
left: 363px;
top: 1997px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* 상자 높이와 동일 */

color: #283043;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.a_line{
    position: absolute;
width: 1196px;
height: 24px;
left: 363px;
top: 2431px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* 상자 높이와 동일 */

color: #283043;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.num{
position: absolute;
/* Frame 3 */

box-sizing: border-box;

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px;
gap: 10px;

width: 120px;
height: 65px;
top: 424px;
left: 363px;

background: #FFFFFF;
border: 1.2px solid #ABB2C3;
border-radius: 6px;

/* 내부 오토레이아웃 */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.num::placeholder{
    font-size: 20px;
    font-weight: 600;
}

.name{
position: absolute;
/* Frame 3 */

box-sizing: border-box;

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px;
gap: 10px;

width: 1196px;
height: 65px;
top: 573px;
left: 363px;

background: #FFFFFF;
border: 1.2px solid #ABB2C3;
border-radius: 6px;

/* 내부 오토레이아웃 */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.name::placeholder{
    font-size: 20px;
    font-weight: 600;
}

.phone{
position: absolute;
/* Frame 3 */

box-sizing: border-box;

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px;
gap: 10px;

width: 1196px;
height: 65px;
top: 722px;
left: 363px;

background: #FFFFFF;
border: 1.2px solid #ABB2C3;
border-radius: 6px;

/* 내부 오토레이아웃 */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.phone::placeholder{
    font-size: 20px;
    font-weight: 600;
}

.email{
position: absolute;
/* Frame 3 */

box-sizing: border-box;

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px;
gap: 10px;

width: 1196px;
height: 65px;
top: 871px;
left: 363px;

background: #FFFFFF;
border: 1.2px solid #ABB2C3;
border-radius: 6px;

/* 내부 오토레이아웃 */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.email::placeholder{
    font-size: 20px;
    font-weight: 600;
}

.room{
position: absolute;
/* Frame 3 */

box-sizing: border-box;

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px;
gap: 10px;

width: 1196px;
height: 65px;
top: 1020px;
left: 363px;

background: #FFFFFF;
border: 1.2px solid #ABB2C3;
border-radius: 6px;

/* 내부 오토레이아웃 */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.room::placeholder{
    font-size: 20px;
    font-weight: 600;
}

.motive{
position: absolute;
/* Frame 3 */

box-sizing: border-box;

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 20px;
gap: 10px;

width: 1196px;
height: 350px;
top: 1169px;
left: 363px;

background: #FFFFFF;
border: 1.2px solid #ABB2C3;
border-radius: 6px;

/* 내부 오토레이아웃 */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.motive::placeholder{
    font-size: 20px;
    font-weight: 600;
}

.win{
position: absolute;
/* Frame 3 */

box-sizing: border-box;

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 20px;
gap: 10px;

width: 1196px;
height: 350px;
top: 1603px;
left: 363px;

background: #FFFFFF;
border: 1.2px solid #ABB2C3;
border-radius: 6px;

/* 내부 오토레이아웃 */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.win::placeholder{
    font-size: 20px;
    font-weight: 600;
}

.fail{
position: absolute;
/* Frame 3 */

box-sizing: border-box;

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 20px;
gap: 10px;

width: 1196px;
height: 350px;
top: 2037px;
left: 363px;

background: #FFFFFF;
border: 1.2px solid #ABB2C3;
border-radius: 6px;

/* 내부 오토레이아웃 */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.fail::placeholder{
    font-size: 20px;
    font-weight: 600;
}

.line{
position: absolute;
/* Frame 3 */

box-sizing: border-box;

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px;
gap: 10px;

width: 1196px;
height: 65px;
top: 2471px;
left: 363px;

background: #FFFFFF;
border: 1.2px solid #ABB2C3;
border-radius: 6px;

/* 내부 오토레이아웃 */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.line::placeholder{
    font-size: 20px;
    font-weight: 600;
}

.circle1{
/* Ellipse 74 */

box-sizing: border-box;

position: absolute;
width: 344px;
height: 344px;
left: 1523px;
top: 183px;
}

.circle2{
    /* Ellipse 72 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 365px;
left: 242px;
top: 1464px;
}

.circle3{
    /* Ellipse 73 */

box-sizing: border-box;

position: absolute;
width: 838px;
height: 849px;
left: -83px;
top: 2076px;
}

.M{
/* Group 7 */

position: absolute;
width: 405px;
height: 412.94px;
left: 1290px;
top: 265.53px;
}

.S{
/* Layer 1 copy 2 */

position: absolute;
width: 374px;
height: 447px;
left: 88px;
top: 1115px;


}

.G{
/* Group 10 */

position: absolute;
width: 410px;
height: 451px;
left: 1361px;
top: 1795px;
}

footer {
    position: absolute;
    color: #fff;
    background-color: var(--black-color-02);
    padding: 0 var(--basic-padding);
    top: 3084px;


    left: 0;       
    width: 100%;       
    padding: 0 var(--basic-padding); 
    box-sizing: border-box;
}

.footer-menu { padding: 7vh 0; }
.footer-menu a {
    display: block;
    margin-top: 3vh;
    font-size: 2.5vh;
}

.footer-connect { font-size: 2vh; }
.footer-connect .president {
    display: inline-block;
    margin: 5px 0;
}
.footer-connect .president::after {
    content: '|';
    padding: 0 6px 0 15px;
}

.footer-instagram {
    display: flex;
    align-items: center;
    margin: 3em 0;
}
.footer-instagram img {
    width: 3.5vh;
    margin-right: 10px;
}

.footer-copyright {
    font-size: 1.5vh;
    text-align: center;
    padding: 1em 0;
    opacity: 0.87;
}

.button{
    /* button-submit */

box-sizing: border-box;

/* 오토레이아웃 */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 160px;
height: 64px;
left: 1398px;
top: 2620px;

background: linear-gradient(94.18deg, #608DFF -6.14%, #47BEFF 55.19%, #66A8FF 106.35%);
/* msg */
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
border-radius: 8px;
border-color: 306BFF;

font-size: 24px;

}

html, body {
    overflow-x: hidden !important;

}
